<div class="banner">

  <div class="banner-center">

    <p class='slideRight'> Friends advice: il faut toujours écouter ses amis.</p>
    <div class="small-iphone">Friends advice
    </div>
    <%= link_to "Créer une nouvelle destination", new_destination_path, class: "banner-wagon-button btn-skyblue" %>
  </div>
</div>


