<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fa fa-hand-o-right" aria-hidden="true" style="font-size: 40px"></i> Friend's Advice
  <% end %>
    <% if user_signed_in? %>
      <div class="navbar-wagon-item navbar-wagon-button">
        <%= link_to "Mes destinations", destinations_path, style:"color: white; text-decoration: none" %>
      </div>
    <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>

