
<h1>Voici tous vos amis qui sont déjà allés à <%= params[:search][:query] %></h1>


<% @users.each do |user|%>
  <% full_name = user.first_name + " " + user.last_name %>
  <% if @my_array.include?(full_name) %>
    <%= user.first_name %> <%=user.last_name %>
  <% end %>
<% end %>


